.center { 
  height: 100%;
  width: 100%;
  position: absolute;
  font-size: 17;
}

.center p, div {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

* {
    
    margin: 0;
    padding: 0;
    
}

body, html {
    
    height: 100%;
    
}

#name {

	color: #3366a6;

}

#info {

	color: gray;

}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: 100;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}